<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iiss.products.category.mapper.CategoryMapper">
    
    <resultMap type="cn.iiss.products.category.Category" id="CategoryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="catLevel"    column="cat_level"    />
        <result property="deleteFlag"    column="delete_flag"    />
    </resultMap>

    <sql id="selectCategoryVo">
        select * from category
    </sql>

    <select id="selectCategoryList" parameterType="cn.iiss.products.category.Category" resultMap="CategoryResult">
        <include refid="selectCategoryVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="catLevel != null "> and cat_level = #{catLevel}</if>
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
        </where>
    </select>
    
    <select id="selectCategoryById" parameterType="Long" resultMap="CategoryResult">
        <include refid="selectCategoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCategory" parameterType="cn.iiss.products.category.Category">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="catLevel != null">cat_level,</if>
            <if test="deleteFlag != null">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="catLevel != null">#{catLevel},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
         </trim>
    </insert>

    <update id="updateCategory" parameterType="cn.iiss.products.category.Category">
        update category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="catLevel != null">cat_level = #{catLevel},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCategoryById" parameterType="Long">
        delete from category where id = #{id}
    </delete>

    <delete id="deleteCategoryByIds" parameterType="String">
        delete from category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>